{% extends "todo/base.html" %} {% block content %}
<h2>All Task</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>description</th>
      <th>Done</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in task %}
    <tr>
      <td>{{ task.title }}</td>
      <td>{{ task.description | linebreaksbr }}</td>
      <td>
        <form
          action="{% url 'todo:task_toggle_complete' task.pk %}"
          method="post"
          style="display: inline"
        >
          {% csrf_token %}

          <button
            type="submit"
            class="btn btn-sm {% if task.completed %}btn-success{% else %}btn-secondary{% endif %}"
          >
            {% if task.completed %} Done {% else %} Pending {% endif %}
          </button>
        </form>
      </td>
      <td>{{task.created_at |date:"M d, H:i"}}</td>
      <td>
        <a
          class="btn btn-sm btn-warning"
          href=" {% url 'todo:task_update' task.pk %}"
          >Edit</a
        >
        <a
          class="btn btn-sm btn-danger"
          href="{% url 'todo:task_delete' task.pk %}"
          >Delete</a
        >
      </td>
    </tr>
    {% empty %} {% endfor %}
  </tbody>
</table>

{% endblock content %}
